<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>

    <link rel="stylesheet" href="/css/boardwrite.css">
</head>
<body>
    <div class="layout">
        <form action="/board/writePro" method="post" enctype="multipart/form-data">
            <input name="title" type="text" placeholder="제목을 입력해라">
            <textarea name="content" placeholder="내용을 입력해라"></textarea>
            <input type="file" name="file">
<!--            name 값으로 매개변수를 받아오기 때문에 이름을 일치시켜야 함-->
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
    </div>


</body>
</html>